body {
  background-color: red;
}
div {
  background-color: red;
}
.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header a {
  width: 100px;
  height: 100px;
  background-color: red;
  /*伪类选择器*/
}
.header a:hover {
  color: blue;
}
.nav {
  width: 200px;
  height: 100px;
  /*伪元素选择器*/
}
.nav::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}
div {
  width: 150px;
  height: 400px;
  background-color: pink;
  border: 10px solid red;
}
