h1 {
  color: red;
}

/*元素选择符*/
li {
  list-style-type: none;
}

li.special,
span.special {
  color: orange;
  font-weight: bold;
}

/*包含选择符:符合选择器之后代选择器*/
li em {
  color: rebeccapurple;
}
/*子选择器：子代（儿子）元素*/
ul > li {
  color: red;
}
/*相邻选择符*/
h1 + p {
  font-size: 200%;
}

/*并集选择器：可以选择多个标签*/
p,
li {
  color: green;
}

/* 伪类选择器：根据状态确认样式*/
a:link {
  color: pink;
}
a:visited {
  color: green;
}
a:hover {
  /*鼠标停留*/
  text-decoration: none;
}
a:active {
  /*鼠标按下并未弹起*/
  color: aqua;
}
input:focus {
  color: yellow; /*把获取光标的元素选中，然后更改样式*/
}
