* {
  margin: 0;
  padding: 0;
  /* 
  border-box ： 对元素指定宽度和高度包括了 padding 和 border 。
  content-box： 指定元素的宽高不包含padding margin boreder
  */
  /* box-sizing: border-box; */
}

em,
i {
  font-style: normal;
}
li {
  list-style-type: none;
}
img {
  border: 0;
  /*取消图片底端有空白间隙的问题*/
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #c81623;
}

button,
input {
  border: 0;
  outline: none;
}

.hide,
.none {
  display: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: '';
  height: 0;
}

.clearfix {
  *zoom: 1;
}
